[submodule "env/ros-foxy-utility"]
	path = env/ros-foxy-utility
	url = https://github.com/endusers/ros-foxy-utility.git
[submodule "env/ros-humble-utility"]
	path = env/ros-humble-utility
	url = https://github.com/endusers/ros-humble-utility.git
